<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

  <div class='title_line'>
    <span th:text="${classifyVO.bigcla}" class="title_line_text"></span >
    > 1111111111111111111<span th:text="${classifyVO.classify}" class="title_line_text"></span >
    전체 글<span th:if="${word != ''}" th:text="|> ${word} (${search_count} 건)|" class="title_line_text"></span>
  </div>
  
  <aside class="aside_left">
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">메인 홈</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">스포츠</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">사업</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">투자</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">문화</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">예술</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">여행</a>
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">지구촌</a>    
  </aside> 

  <aside class="aside_right">
    <!--
    <span th:if="${session.grade == 'admin'}">
      <a th:href="@{|/news/create?classifyno=${classifyVO.classifyno}|}">등록</a>
      <span class="menu_devide">│</span>    
    </span>
    -->
    <a href="javascript:location.reload();">새로고침1</a>
    <span class='menu_divide' >│</span>    
    <a th:href="@{|./list_by_classifyno?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">목록형</a>    
    <span class='menu_divide' >│</span>
    <a th:href="@{|./list_by_classifyno_grid?classifyno=${classifyVO.classifyno }&word=${word }&now_page=${now_page}|}">갤러리형</a>
    
  </aside> 

  <!-- /news/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{news/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
       
  <table class="table table-striped" style='width: 100%;'>
    <colgroup>
      <col style='width: 10%;'/>
      <col style='width: 90%;'/>
    </colgroup>
    <tr>
      <th class='th_bs'>파일</TH>
      <th class='th_bs'>제목</th>
    </tr>
   
    <tr th:if="${list.size() > 0}" th:each="newsVO, status:${list}" 
         th:attr="onclick=|location.href='/news/read?newsno=${newsVO.newsno}&word=${word}&now_page=${now_page}'|"
         style="cursor: pointer; height: 90px;">
      <td class='td_basic' style="vertical-align: middle; text-align: center;">
        <div th:if="${newsVO.file1.endsWith('jpg') or newsVO.file1.endsWith('png')  or newsVO.file1.endsWith('gif')}">
          <img th:src="@{|/news/storage/${newsVO.thumb1}|}" style="width: 120px; height: 90px;">
        </div>
        
        <!--% 이미지가 이닌 파일은 파일명만 출력 %-->
        <div th:if="${((newsVO.file1.endsWith('jpg') or newsVO.file1.endsWith('png')  or newsVO.file1.endsWith('gif')) == false) and (newsVO.size1 > 0)}">
          <span th:text="${newsVO.file1}"></span>
        </div>

        <!--% 파일이 없는 경우 기본 이미지 출력 %-->
        <div th:if="${newsVO.size1 == 0}">
          <img src="/news/images/none1.png" style="width: 120px; height: 90px;">
        </div>
        
      </td>
      </td>
      <td class='td_left'>
        <span th:text="${newsVO.title}" style="font-weight: bold;"></span>
        <span th:text="| ${newsVO.rdate.substring(0, 10)}|"></span><br>

        <span th:if="${newsVO.content.length() > 160 }" 
                  th:text="|${newsVO.content.substring(0, 160) }...|"></span>
        <span th:if="${newsVO.content.length() <= 160 }" 
                  th:text="|${newsVO.content}|"></span>
        
      </td>
    </tr>

    <tr th:if="${list.size() == 0}">
      <td colspan="2" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
    </tr> 

  </table>
   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 