<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<div layout:fragment="content">
  <script>
    window.onload = () => {
      document.querySelector('#id').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_checkID').focus();
        }
      });

      document.querySelector('#passwd').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('passwd2').focus();
        }
      });

      document.querySelector('#passwd2').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('mname').focus();
        }
      });

      document.querySelector('#mname').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('tel').focus();
        }
      });

      document.querySelector('#tel').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_DaumPostcode').focus();
        }
      });

      document.querySelector('#address2').addEventListener('keypress', (event) => {
        if(event.key === 'Enter') {
          document.getElementById('btn_send').focus();
        }
      });
    }

    function checkID() {
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');

      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        id_msg.classList.add('span_warning');
        id.focus();
        return false;
      } else {
        id_msg.classList.remove('span_warning');

        let url = './checkID?id=' + id.value;
    
        fetch(url)
        .then(response => response.json())
        .then(rdata => {
          if (rdata.cnt > 0) {
            id_msg.innerHTML= '이미 사용중인 ID(이메일) 입니다. 다른 ID(이메일)을 지정해주세요.';
            id_msg.classList.add('span_warning');
            id.focus();
          } else {
            id_msg.innerHTML= '사용 가능한 ID(이메일) 입니다.';
            document.getElementById('passwd').focus(); 
          }
        })
        .catch(error => {
            console.error('Error:', error);
        });
    
        id_msg.innerHTML="<img src='/images/progress.gif' style='width: 5%;'>";
      }
    }

    function send() {
      let id = document.getElementById('id');
      let id_msg = document.getElementById('id_msg');

      if (id.value.trim().length == 0) {
        id_msg.innerHTML= 'ID 입력은 필수 입니다. ID(이메일)는 3자이상 권장합니다.';
        id_msg.classList.add('span_warning');
        id.focus();
        return false;
      }

      let passwd = document.getElementById('passwd');
      let passwd2 = document.getElementById('passwd2');
      let passwd2_msg = document.getElementById('passwd2_msg');

      if (passwd.value != passwd2.value) {
        passwd2_msg.innerHTML= '입력된 패스워드가 일치하지 않습니다.';
        passwd2_msg.classList.add('span_warning');
        passwd.focus();
        return false;
      }

      let mname = document.getElementById('mname');
      let mname_msg = document.getElementById('mname_msg');

      if (mname.value.length == 0) {
        mname_msg.innerHTML= '이름 입력은 필수입니다.';
        mname_msg.classList.add('span_warning');
        mname.focus();
        return false;
      }
      
    // 성별 선택 확인
    let gender = document.querySelector('input[name="gender"]:checked');
    if (!gender) {
      alert('성별을 선택해주세요.');
      return false;
    }

      // 약관 동의 체크 여부 확인
      let termsAgreement = document.getElementById('termsAgreement');
      if (!termsAgreement.checked) {
        alert('약관에 동의해 주세요.');
        return false;
      }

      document.getElementById('frm').submit(); // form 제출
    }
    
    
  </script>

  <div class="title_line">회원 가입(*: 필수)</div>
  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
    <span class='menu_divide'>│</span> 
    <a href='./create'>회원 가입</a>
    <span class='menu_divide'>│</span> 
    <a href='./list'>목록</a>
  </aside> 

  <div class="menu_line"></div>

  <div style="display: flex; justify-content: center; align-items: center; padding-top: 20px;">
    <form name="frm" id="frm" th:object="${memberVO}" method="post" action="/member/create" 
          style="display: flex; flex-direction: column; align-items: flex-start; width: 60%;">
  

      <!-- 약관 내용을 추가하는 예시 -->
      <div style="display: block; width: 100%; border: 1px solid #ccc; padding: 15px; margin-top: 10px; background-color: #f9f9f9; max-height: 200px; overflow-y: auto;">
          <h4>이용약관</h4>
          <p>제 1조 (목적)
본 약관은 [서비스명] (이하 '회사')가 제공하는 뉴스 서비스(이하 '서비스')의 이용에 관한 조건과 절차, 회사와 사용자 간의 권리와 의무 및 책임사항 등을 규정함을 목적으로 합니다.</p>
          <p>제 2조 (정의)
1. 서비스: 회사가 제공하는 뉴스 콘텐츠 및 관련 서비스를 말합니다.
2. 회원: 회사의 서비스에 가입하여 이용하는 자를 말합니다.
3. 이용자: 서비스를 이용하는 모든 자를 포함하며, 회원뿐만 아니라 비회원도 포함됩니다.
4. 서비스 제공자: 서비스를 제공하는 회사 또는 제휴된 외부 업체를 의미합니다.</p>
          <p>제 3조 (약관의 동의)
1. 본 약관은 서비스 이용자가 서비스를 이용하기 전 반드시 동의해야 합니다.
2. 이용자는 회사의 약관을 충분히 읽고 이해한 후 동의 여부를 결정해야 합니다.
3. 약관에 동의하지 않으면 서비스 이용이 불가능합니다.</p>
          <p>제 4조 (약관의 변경)
1. 회사는 필요 시 본 약관을 변경할 수 있으며, 변경된 약관은 서비스 내 공지사항을 통해 고지합니다.
2. 변경된 약관은 공지일로부터 7일 이내에 효력이 발생하며, 이용자는 변경된 약관에 동의하지 않을 경우 서비스 이용을 중지할 수 있습니다.</p>
          <p>제 5조 (회원 가입)
1. 서비스 이용을 원하는 자는 회원 가입 절차를 거쳐야 하며, 회사는 가입자의 정보를 수집하여 관리합니다.
2. 회원 가입 시 제공되는 개인정보는 정확하게 입력되어야 하며, 허위 정보 제공 시 이용에 제한이 있을 수 있습니다.
3. 회원 가입 시 제공한 이메일 주소는 중요한 서비스 관련 공지 및 알림에 사용됩니다.</p>
          <p>제 6조 (서비스의 제공)
1. 회사는 뉴스 서비스, 정보 제공, 콘텐츠 공유, 사용자 맞춤형 뉴스 제공 등의 서비스를 제공합니다.
2. 서비스는 기본적으로 무료로 제공되나, 특정 프리미엄 서비스는 유료로 제공될 수 있습니다.
3. 서비스 제공에 있어 기술적 문제나 기타 사유로 인한 중단이 있을 수 있으며, 이 경우 회사는 이용자에게 사전 고지할 의무가 있습니다.</p>
        </div>
       
       <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <input type="checkbox" id="termsAgreement" required="required">
        <label for="termsAgreement" style="margin-left: 10px;">이용약관에 동의합니다. <a href="#terms" style="color: #007bff;">[약관 확인]</a></label>
        </div>
  
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="id" style="margin-right: 10px; width: 20%;">아이디*</label>
        <input type="text" name="id" id="id" value="" autofocus="autofocus"
           class="form-control form-control-sm" style="width: 50%; margin-right: 10px;" th:field="*{id}">
        <button type="button" id="btn_checkID" onclick="checkID()" 
            class="btn btn-primary btn-sm" style="flex-shrink: 0;">중복확인</button>
       </div>
          <span id="id_msg" style="font-size: 14px; margin-top: 5px;"></span>
  
      <!-- 패스워드 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="passwd" style="margin-right: 10px; width: 20%;">패스워드*</label>
        <input type="password" name="passwd" id="passwd" value="1234" required="required" 
               placeholder="패스워드" class="form-control form-control-sm" style="width: 50%;">
      </div>
  
      <!-- 패스워드 확인 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="passwd2" style="margin-right: 10px; width: 20%;">패스워드 확인*</label>
        <input type="password" name="passwd2" id="passwd2" value="1234" required="required" 
               placeholder="패스워드 확인" class="form-control form-control-sm" style="width: 50%;">
      </div>
  
      <!-- 성명 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="mname" style="margin-right: 10px; width: 20%;">성명*</label>
        <input type="text" name="mname" id="mname" placeholder="성명" required="required" 
               class="form-control form-control-sm" style="width: 50%;">
      </div>
      
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="birth" style="margin-right: 10px; width: 20%;">생년월일</label>
        <input type="date" name="birth" id="birth" placeholder="생년월일" 
         class="form-control form-control-sm" style="width: 50%;">
      </div>
  
      <!-- 전화 번호 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="tel" style="margin-right: 10px; width: 20%;">전화 번호</label>
        <input type="text" name="tel" id="tel" value="010 1234 5678" required="required" 
               placeholder="전화번호" class="form-control form-control-sm" style="width: 50%;">
      </div>
      
      
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
          <label for="gender" style="margin-right: 10px; width: 20%;">성별*</label>
        <div style="display: flex; width: 50%;">
          <input type="radio" id="male" name="gender" value="남자" required="required" style="margin-right: 10px;">
          <label for="male" style="margin-right: 20px;">남자</label>

          <input type="radio" id="female" name="gender" value="여자" required="required" style="margin-right: 10px;">
          <label for="female">여자</label>
        </div>
      </div>
      

  
      <!-- 우편 번호 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="zipcode" style="margin-right: 10px; width: 20%;">우편 번호</label>
        <input type="text" name="zipcode" id="zipcode" value="" placeholder="우편번호"
               class="form-control form-control-sm" style="width: 50%;">
        <button type="button" id="btn_DaumPostcode" onclick="DaumPostcode()" 
                class="btn btn-primary btn-sm" style="margin-top: 4px; margin-left: 10px;">우편번호 찾기</button>
      </div>
  
      <!-- 주소 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="address1" style="margin-right: 10px; width: 20%;">주소</label>
        <input type="text" name="address1" id="address1" value="" placeholder="주소"
               class="form-control form-control-sm" style="width: 50%;">
      </div>   
  
      <!-- 상세 주소 -->
      <div style="display: flex; align-items: center; margin-bottom: 10px; width: 100%;">
        <label for="address2" style="margin-right: 10px; width: 20%;">상세 주소</label>
        <input type="text" name="address2" id="address2" value="" placeholder="상세 주소"
               class="form-control form-control-sm" style="width: 50%;">
      </div>
      


      

<!-- ------------------------------ DAUM 우편번호 API 시작 ------------------------------ -->
<div id="wrap" style="display:none;border:1px solid;width:500px;height:300px;margin:5px 0;position:relative">
<img src="//t1.daumcdn.net/postcode/resource/images/close.png" id="btnFoldWrap" style="cursor:pointer;position:absolute;right:0px;top:-1px;z-index:1" onclick="foldDaumPostcode()" alt="접기 버튼">
</div>

<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
    // 우편번호 찾기 찾기 화면을 넣을 element
    var element_wrap = document.getElementById('wrap');

    function foldDaumPostcode() {
        // iframe을 넣은 element를 안보이게 한다.
        element_wrap.style.display = 'none';
    }

    function DaumPostcode() {
        // 현재 scroll 위치를 저장해놓는다.
        var currentScroll = Math.max(document.body.scrollTop, document.documentElement.scrollTop);
        new daum.Postcode({
            oncomplete: function(data) {
                // 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                /*
                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample3_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample3_extraAddress").value = '';
                }
                */

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('zipcode').value = data.zonecode; // 우편번호
                document.getElementById("address1").value = addr;  // 주소

                document.getElementById("address2").innerHTML=""; // 상세 주소 지우기
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("address2").focus();  // 상세 주소로 포커스 이동

                // iframe을 넣은 element를 안보이게 한다.
                // (autoClose:false 기능을 이용한다면, 아래 코드를 제거해야 화면에서 사라지지 않는다.)
                element_wrap.style.display = 'none';

                // 우편번호 찾기 화면이 보이기 이전으로 scroll 위치를 되돌린다.
                document.body.scrollTop = currentScroll;
            },
            // 우편번호 찾기 화면 크기가 조정되었을때 실행할 코드를 작성하는 부분. iframe을 넣은 element의 높이값을 조정한다.
            onresize : function(size) {
                element_wrap.style.height = size.height+'px';
            },
            width : '100%',
            height : '100%'
        }).embed(element_wrap);

        // iframe을 넣은 element를 보이게 한다.
        element_wrap.style.display = 'block';
    }
</script>

<!-- ------------------------------ DAUM 우편번호 API 종료 ------------------------------ -->

      <div class="content_body_bottom" style="text-align: center;">
            <button type="button" onclick="send();" class="btn btn-secondary btn-sm">가입</button>
            <button type="button" onclick="history.back();" class="btn btn-secondary btn-sm">취소</button>
          </div>

        </form>
      </div>
    </div>
 </div>

</html>









