<!DOCTYPE html>
<html layout:decorate="~{layout}"> <!-- layout.html 상속-->

<head>
    <!-- 필요한 CSS 또는 JS 파일을 추가할 수 있습니다 -->
</head>

<body>
    <div layout:fragment="content">

        <div class='menu_line'></div>

        <fieldset class="fieldset_basic">
            <ul>
                <p>설문조사 제목: <span th:text="${surveyVO.topic}"></span></p>
                <li class="li_none">
                    <div style="width: 100%; word-break: break-all;">
                        <span style="font-size: 1.5em; font-weight: bold;" th:text="${surveyVO.topic}"></span><br>
                        <span style="font-size: 1em;" th:text="${surveyVO.startdate}"></span><br><br>
                        <div style="white-space: pre-wrap;">
                            <span th:text="${surveyVO.enddate}"></span>
                        </div>
                    </div>
                </li>

                <!-- 설문 항목 선택 -->
                <li class="li_none">
                    <form name="frm" method="post" action="/survey/dosurvey" th:object="${surveyitemVO}">
                        <!-- 설문 항목 반복 출력 -->
                        <div th:each="surveyitemVO : ${surveyitemVO}">
                            <p th:text="${surveyitemVO}"></p>
                            <p th:text="${surveyitemVO.item}"></p>

                            <!-- 항목 선택 값이 라디오 버튼일 경우 
                            <div th:if="${surveyitemVO.pick == 'radio'}">
                                <input type="radio" th:name="'survey_item_' + ${surveyitemVO.surveyItemNo}" th:value="${surveyitemVO.itemSeq}" /> 
                                <span th:text="${surveyitemVO.item}"></span><br />
                            </div>-->

                            <!-- 항목 선택 값이 체크박스일 경우 
                            <div th:if="${surveyitemVO.pick == 'checkbox'}">
                                <input type="checkbox" th:name="'survey_item_' + ${surveyitemVO.surveyItemNo}" th:value="${surveyitemVO.itemSeq}" /> 
                                <span th:text="${surveyitemVO.item}"></span><br />
                            </div>-->
                        </div>

<div th:if="${#lists.isEmpty(surveyItems)}">
    <p>설문 항목이 없습니다.</p>
</div>

                        <div>
                            <button type="submit" class="btn btn-info">제출</button>
                        </div>
                    </form>
                </li>
            </ul>
        </fieldset>
    </div>
</body>

</html>
