<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">

        <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a><span class="menu_devide">│</span>   
          <a th:href="@{|/survey/create|}" th:if="${session.grade == 'admin'}"> 등록</a>
          
  </aside>

  <!-- /survey/list_search_com.html 파일의 list_search_fragment import -->
  <div th:replace="~{survey/list_search_com::list_search_fragment}"></div>
     
  <div class='menu_line'></div>
<table class="table table-striped" style='width: 100%;'>
  <colgroup>
    <col style='width: 10%;'/>
    <col style='width: 40%;'/>
    <col style='width: 40%;'/>
  </colgroup>
  <tr>
    <th class='th_bs'>파일</th>
    <th class='th_bs'>제목</th>
    <th class='th_bs'>결과 보기</th>
    <th th:if="${session.grade == 'admin'}" class='th_bs'>수정</th>
    <th th:if="${session.grade == 'admin'}" class='th_bs'>삭제</th>
  </tr>

  <!-- 리스트가 비어 있지 않을 때 반복문 실행 -->
  <tr th:each="surveyVO, status : ${list}">
<td class='td_basic' style="vertical-align: middle; text-align: center; cursor: pointer; height: 90px;"
    th:attr="onclick=|location.href='/survey/dosurvey?surveyno=${surveyVO.surveyno}&word=${word}&now_page=${now_page}'|">

      <!-- 이미지 파일일 경우 -->
      <div th:if="${surveyVO.poster != null and (surveyVO.poster.endsWith('jpg') or surveyVO.poster.endsWith('png') or surveyVO.poster.endsWith('gif'))}">
        <!-- 이미지 처리 로직 -->
        <img th:src="@{|/survey/storage/${surveyVO.thumb1}|}" style="width: 120px; height: 90px;">
      </div>

      <!-- 이미지가 아닌 파일은 파일명만 출력 -->
      <div th:if="${surveyVO.poster != null and ((surveyVO.poster.endsWith('jpg') or surveyVO.poster.endsWith('png') or surveyVO.poster.endsWith('gif')) == false) and (surveyVO.postersize > 0)}">
        <span th:text="${surveyVO.poster}"></span>
      </div>

      <!-- 파일이 없으면 기본 이미지 출력 -->
      <div th:if="${surveyVO.postersize == 0}">
        <img src="/survey/images/none1.png" style="width: 120px; height: 90px;">
      </div>
    </td>

    <td class='td_left' 
        th:attr="onclick=|location.href='/survey/dosurvey?surveyno=${surveyVO.surveyno}&word=${word}&now_page=${now_page}'|">
      <span th:text="${surveyVO.topic}" style="font-weight: bold;"></span>
  <!--      <span th:text="| ${surveyVO.startdate.substring(0, 10)}|"></span><br>-->
    <span th:text="| ${surveyVO.startdate}|"></span><br>
      <!-- 제목 길이에 따라 다르게 표시 -->
      <span th:if="${surveyVO.topic.length() > 160}" th:text="|${surveyVO.topic.substring(0, 160)}...|"></span>
      <span th:if="${surveyVO.topic.length() <= 160}" th:text="|${surveyVO.topic}|"></span>
    </td>

    <!-- 3번째 칸: 'read'로 이동 -->
    <td th:attr="onclick=|location.href='/survey/read?surveyno=${surveyVO.surveyno}&word=${word}&now_page=${now_page}'|"
        style="cursor: pointer; vertical-align: middle; text-align: center;">
      <button class="btn btn-info">Read</button>
    </td>
    
    <!-- 4번째 칸: 'update'로 이동 -->
    <td th:if="${session.grade == 'admin'}" th:attr="onclick=|location.href='/survey/update/${surveyVO.surveyno}'|"
        style="cursor: pointer; vertical-align: middle; text-align: center;">
      <button class="btn btn-info">update</button>
    </td>
    
    <!-- 5번째 칸: 'delete'로 이동 -->
    <td th:if="${session.grade == 'admin'}" th:attr="onclick=|location.href='/survey/delete/${surveyVO.surveyno}'|"
        style="cursor: pointer; vertical-align: middle; text-align: center;">
      <button class="btn btn-info">delete</button>
    </td>
    
    
  </tr>

  <!-- 리스트가 비어 있을 경우 -->
  <tr th:if="${list.size() == 0}">
    <td colspan="4" style="text-align: center;">관련 글이 등록되지 않았습니다.</td>
  </tr>
</table>


   
  <!-- 페이지 버튼 목록 출력 시작 -->
  <div class="bottom_menu" th:utext="${paging}"></div>
  <!-- 페이지 버튼 목록 출력 종료 --> 

</div>
</html>
 