<!-- src/main/resources/templates/log.html -->
<!DOCTYPE html>
<html>
<head>
    <title>로그 기록</title>
</head>
<body>
    <h1>로그 기록</h1>
    <table>
        <thead>
            <tr>
                <th>로그 번호</th>
                <th>IP</th>
                <th>로그인 날짜</th>
                <th>회원 번호</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="log : ${logs}">
                <td th:text="${log.logno}"></td>
                <td th:text="${log.ip}"></td>
                <td th:text="${log.logdate}"></td>
                <td th:text="${log.memberno}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
