<!DOCTYPE html>

<html layout:decorate="~{layout}"> <!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">컨텐츠 > 알림</div>
  <div class="message">
      <script>
        function runJava(classifyno) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "http://localhost:9093/exchange/run-java?classifyno=" + classifyno, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    console.log("AJAX request status: " + xhr.status);
                    if (xhr.status === 200) {
                        document.getElementById("result").innerText = xhr.responseText;
            javascript:location.reload();
                    } else {
                        console.error("Error: " + xhr.statusText);
                    }
                }
            };
            xhr.onerror = function() {
                console.error("Request failed");
            };
            console.log("Sending AJAX request with classifyno: " + classifyno);
            xhr.send();
        }
    </script>
    
        <style>
        /* 링크 스타일 */
        .hover-link {
            text-decoration: none; /* 기본적으로 밑줄 없애기 */
            color: inherit; /* 링크 색상을 부모로 상속 */
        }

        /* 호버 시 밑줄을 추가하고, 마우스 포인터를 손가락으로 변경 */
        .hover-link:hover {
            text-decoration: underline; /* 밑줄 추가 */
            cursor: pointer; /* 마우스 포인터를 손가락으로 변경 */
        }
    </style>
    
</head>
    <fieldset class="fieldset_basic">
      <ul>
        <li th:switch="${code}" class="li_none">
          <div th:case="exc_fail">
            <span class="span_fail">등록된 정보가 없습니다. 다시 시도해주세요</span><br><br>
            <a th:onclick="|runJava('${classifyVO.classifyno}')|"
                                                 class="hover-link">업데이트</a>
                                                 
          </div>
          
          <div th:case="passwd_fail">
            <span class="span_fail">패스워드가 일치하지 않습니다. 다시 시도해주세요.</span><br>
          </div>
          
          <div th:case="create_fail">
            <span class="span_fail">알수 없는 원인으로 등록에 실패했습니다. 다시 시도해주세요.</span><br>
            
          </div>
          <div th:case="check_upload_file_fail">
            <span class="span_fail">등록 할 수 없는 파일 형식입니다.</span><br>
            다시 시도해주세요.
          </div>
          <div th:case="update_success">
            <span class="span_success">카테고리 수정에 성공했습니다.</span><br>
            수정된 카테고리: <span th:text="${name}"></span> <span th:text="${namesub}"></span>
          </div>
          <div th:case="update_fail">
            <span class="span_fail">카테고리 수정에 실패했습니다.</span><br>
            수정 실패된 카테고리: <span th:text="${name}"></span> <span th:text="${namesub}"></span>
          </div>
          <div th:case="delete_success">
            <span class="span_success">카테고리 삭제에 성공했습니다.</span><br>
            삭제된 카테고리: <span th:text="${name}"></span> 
            <span th:if="${namesub != '-'}" th:text="' - ' + ${namesub}"></span>
          </div>
          <div th:case="delete_fail">
            <span class="span_fail">카테고리 삭제에 실패했습니다.</span><br>
            삭제 실패된 카테고리: <span th:text="${name}"></span>
            <span th:if="${namesub != '-'}" th:text="' - ' + ${namesub}"></span> 
          </div>
        </li>
        
        <li class="li_none">
          <div th:if="${cnt == 0}">
            <button type="button" onclick="history.back()" class="btn btn-secondary btn-sm">다시 시도</button>
          </div>
          <div th:if="${cnt != 0}">
            <button type="button" onclick="location.href='/'" class="btn btn-secondary btn-sm">전체 목록</button>
          </div>
        </li>
      </ul>
    </fieldset>
  </div>
</div>
</html>