<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <img src="/images/pepe list.gif" style="width:50px; height: 50px;"> 정보
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <div th:replace="~{classify/list_search_com::list_search_fragment}"></div>
  <div class="menu_line"></div>

  <div class="flex_div_center">
    <form class="list_form" name="frm" method="post" action="/classify/create" th:object="${classifyVO}">
      <div style="width: 17%;">
        <input type="text" name="name" value="" autofocus="autofocus" class="form-control" style="width: 100%;"
          th:field="*{name}" placeholder=" 이름 ">
      </div>



      <div style="width: 7%;">
        <input type="number" name="cnt" min="1" max="10000000" step="1" class="form-control" style="width: 100%;"
          th:field="*{cnt}" placeholder=" 수량 ">
      </div>

      <div style="width: 17%;">
        <input type="text" name="classify" value="Y" class="form-control" style="width: 100%;" th:field="*{classify}"
          placeholder=" 제품 유형 ">
      </div>

      <div style="margin-right: 2px; width: 10%; float: left;">
        <select id="visible" name="visible" class="form-control">
          <option value="출력 모드" selected="selected">출력 모드</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </div>

      <div style="width: 10%;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="reset" class="btn btn-secondary btn-sm">취소</button>
      </div>

    </form>
  </div>

  <div th:replace="~{classify/list_all_com::list_all_fragment}"></div>
</div>

</html>