<!DOCTYPE html>

<html layout:decorate="~{layout}">
<!-- layout.html 상속-->
<div layout:fragment="content">
  <div class="title_line">
    <img src="/images/pepe list.gif" style="width:50px; height: 50px;">
    서치 작업 완료<span th:if="${word != null and word != ''}" th:text="|  ${word} : ${search_cnt} 개  |"></span>
  </div>

  <aside class="aside_right">
    <a href="javascript:location.reload();">새로고침</a>
  </aside>
  <!--/* '/cate/list_search_com.html' 파일의 list_search_fragment를 가져다 사용 th:field="*{genreno}"*/-->
  <div th:replace="~{classify/list_search_com::list_search_fragment}"></div>

  <div class="menu_line"></div>

  <div class="flex_div_center">
    <form class="list_form" name="frm" method="post" action="/classify/create" th:object="${classifyVO}">
      <div style="width: 20%;">
        <select id="genreno" name="genreno" class="form-control">
          <option value="대분류" selected="selected">대분류</option>
          <option value="1">뉴스</option>
          <option value="2">환율</option>
          <option value="3">날씨</option>
          <option value="4">개인 기사</option>
          <option value="5">설문조사</option>
        </select>
      </div>

      <div style="width: 30%;">
        <input type="text" name="classify" value="Y" class="form-control" style="width: 100%;" th:field="*{classify}"
          placeholder="카테고리(중분류) ">
      </div>

      <div style="width: 15%;">
        <input type="number" name="cnt" min="1" max="10000000" step="1" class="form-control" style="width: 100%;"
          th:field="*{seqno}" placeholder="출력 순서 ">
      </div>



      <div style="margin-right: 2px; width: 15%; float: left;">
        <select id="visible" name="visible" class="form-control">
          <option value="출력 모드" selected="selected">출력 모드</option>
          <option value="Y">Y</option>
          <option value="N">N</option>
        </select>
      </div>

      <div style="width: 15%;">
        <button type="submit" class="btn btn-secondary btn-sm">등록</button>
        <button type="reset" class="btn btn-secondary btn-sm">취소</button>
      </div>


    </form>
  </div>

  <div th:replace="~{classify/list_all_com::list_all_fragment}"></div>
</div>

</html>